<h3><i class="fas fa-feather"></i> StoryVerse</h3>
<div class="section">
  <p class="lead">"Craft compelling public and private stories from your life's experiences."</p>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row" style="justify-content: center;">
    <div class="">
      <a
        class="btn btn-outline-dark"
        href="/auth/google"
        role="button"
        style="text-transform:none"
      >
        <img
          width="20px"
          style="margin-bottom:3px; margin-right:5px"
          alt="Google sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
        />
        Login with Google
      </a>
    </div>
  </div>
</div>